.App {
  text-align: center;
}

#resumee {
  padding: 80px 0 40px 0;
}

#resumee .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  margin-top: 25px;
  border: 2px solid #2dc997;
  color:#2dc997;
}

#resumee .title, #resumee .icon{
  color:#2dc997;
}

#resumee .btn-outline-secondary{
  margin: 10px;
}

.education-box {
  text-align: left;
}

.education-box .title {
  margin-bottom: 2px;
}

.education-box span {
  margin-left: 5px;
  margin-right: 5px;
}

.education-box .un-description, .education-box .un-date-description, .education-box .description {
  text-align: justify;
}

.education-box .un-date-description {
  margin-bottom: 10px;
}

#hero h2 {
  margin-bottom: 10px;
}

#social i {
  font-size: 22px;
  margin: 0 5px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 75px;
  object-fit: cover;
}

#contact .form button[type="button"] {
  background: #2dc997;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form .validation {
 display: block;
}

#contact .form #sendmessage {
  display: block;
}

#contact .form #errormessage {
  display: block;
}

.portfolio-item img {
  width: 400px;
}

.modal-img {
  width: 100%;
  margin-bottom: 15px;
}

#portfolio .portfolio-item .details {
  height: 35px;
  bottom: -35px;
}